
.ico-numero {
    position: absolute;
    top: 51%;
    left: 57.5%;
    width: 280px;
    height: 270px;
    background-image: url('/Proyecto Web/Proyecto Web/Images/celular-contacto.png');
    background-size: 25%; /* Escala la imagen para cubrir todo el cuerpo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: 0px 0px; /* Personaliza la posición de la imagen de fondo (ejemplo) */
}

.ico-hora {
    position: absolute;
    top: 61.5%;
    left: 57.5%;
    width: 270px;
    height: 280px;
    background-image: url('/Proyecto Web/Proyecto Web/Images/ico-hora.png');
    background-size: 25%; /* Escala la imagen para cubrir todo el cuerpo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: 0px 0px; /* Personaliza la posición de la imagen de fondo (ejemplo) */
}

#banner2{
    position: relative;
    width: 99.98%;
    height: 923px;
    background-image: url('/Proyecto Web/Proyecto Web/Images/historia.png');
    background-size: cover; /* Escala la imagen para cubrir todo el cuerpo */
    background-position: center; /* Posiciona la imagen en el centro del contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    opacity: 0.9;
}

.imagen-horario {
    position: absolute;
    top: 735px;
    left: 27%;
    width: 694px;
    height: 189px;
    background-image: url('/Proyecto Web/Proyecto Web/Images/horario.PNG');
    background-size: cover; /* Escala la imagen para cubrir todo el cuerpo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: 0px 0px; /* Personaliza la posición de la imagen de fondo (ejemplo) */
}

.licores-contacto {
    position: absolute;
    width: 99.98%;
    height: 923px;
    background-image: url('/Proyecto Web/Proyecto Web/Images/licores-contacto.png');
    background-size: cover; /* Escala la imagen para cubrir todo el cuerpo */
    background-position: center; /* Posiciona la imagen en el centro del contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    opacity: 0.9;
}

.image-fondo-ubi{
    position: relative;
    width: 99.98%;
    height: 923px;
    background-image: url('/Proyecto Web/Proyecto Web/Images/fondoUBI.png');
    background-size: cover; /* Escala la imagen para cubrir todo el cuerpo */
    background-position: center; /* Posiciona la imagen en el centro del contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    opacity: 0.6;
}